<!-- banner starts -->
<section>

    <div class="container-fluid banner">

        <div class="row">

            <div class="col-md-12">
                <span class="aboutus-banner"></span>
                
                <div class="banner-content">

                    <h2>ABOUT US</h2>

                    <a routerLink="home" class="banner-anc1">HOME</a>

                    <span class="mx-3">></span>

                    <a routerLink="aboutus" class="banner-anc1">ABOUT US</a>

                </div>
 
            </div>
        </div>
    </div>

</section>

<!-- banner-ends -->


<!-- about study starts -->

<section class="about-study-section">

    <div class="container">

        <div class="row ">
    
            <div class="col-md-5 about-img">
                <img src="../../assets/images/about.webp" class="img-fluid" height="286px" width="458px" alt="">
            </div>
        
            <div class="col-md-7">
                <h3 class="about-heading">About Study</h3>
                <p class="about-para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered <br> alteration in some form, by injected humour, or randomised words which don't look even slightly <br> believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything <br> embarrassing hidden in the middle of text amr songr balga ami toami valo lasi ciri din akr dali</p>
                <a href="#"><button class="btn-1">LEARN NOW</button></a>
            </div>
    
        </div>
    </div>

</section>

<!-- about study ends -->


<!-- our skills starts -->

<section class="skill-section mb-5 pb-5">

    <div class="container">

        <div class="row">

            <div class="col-md-12 mx-5 my-5">

                <h2 class="text-center">OUR SKILLS</h2>

                <P class="text-center">There are many variations of passages</P>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row">
    
            <div class="col-md-1"></div>
        
    
            <div class="col-md-5">
    
                <div class="skill-content">
    
                    <h6>Programming</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
    
                    <h6>Creative Writing</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                    </div>
    
                    <h6>Programming</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
    
                    <h6>Designing</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 79%"></div>
                    </div>
    
                </div>
    
                
    
            </div>
    
    
            <div class="col-md-5">
    
                <div class="skill-content">
    
                    <h6>Designing</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
    
                    <h6>English Lessons</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    </div>
    
                    <h6>Creative Writing</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                    </div>
    
                    <h6>English Lessons</h6>
    
                    <div class="progress bar-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 98%"></div>
                    </div>
    
                </div>
    
                
            </div>
    
            <div class="col-md-1"></div>
    
    
        </div>   
    
    </div>

</section>


<!-- slider starts -->

<section>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    
            <div class="carousel-inner">
        
            <div class="carousel-item active ">
        
                    <span class="slider2-img "alt="..."></span>
        
                    <div class="container">
        
                        <div class="row">
        
                            <div class="col-md-1"></div>
        
                            <div class="col-md-10 slider2-content1">
        
                                <p class="slider-para-3 mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in <br> some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum <br> available, but the majority have suffered.</p>
        
                                <h6>__ STEVEN HUNT</h6>
        
        
                            </div>
        
                            <div class="col-md-1"></div>
        
                        </div>
                    </div>
        
            </div>
            <div class="carousel-item">
                <span class="slider2-img "alt="..."></span>
        
                <div class="container">
        
                    <div class="row">
        
                        <div class="col-md-1"></div>
        
                        <div class="col-md-10 slider2-content2">
        
                            <p class="slider-para-3 mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in <br> some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum <br> available, but the majority have suffered.</p>
        
                            <h6>__ ADAM JAMES</h6>
        
        
                        </div>
        
                        <div class="col-md-1"></div>
        
                    </div>
                </div>
            </div>
        
            <div class="carousel-item">
        
                <span class="slider2-img "alt="..."></span>
        
                    <div class="container">
        
                        <div class="row">
        
                            <div class="col-md-1"></div>
        
                            <div class="col-md-10 slider2-content3">
        
                                <p class="slider-para-3 mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in <br> some form, by injected humour, or randomised words which don't look even slightly believable orem Ipsum <br> available, but the majority have suffered.</p>
        
                                <h6>__ KATTIE LUIS</h6>
        
        
                            </div>
        
                            <div class="col-md-1"></div>
        
                        </div>
                    </div>
            </div>
        
        </div>
    
    
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button> -->

    </div>

</section>

<!-- slider ends -->


<!-- our teachers starts -->

<section class="teachers-section mb-5 pb-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5 py-5">
                <h2 class="text-center">OUR TEACHERS</h2>
                <p class="text-center">There are many variations of passages</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-10 cards-content">

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/1 (5).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading">JULIE JIMENEZ</h5>
                      <h5 class="card-text card-heading">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/2 (5).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading">RONALD WILSON</h5>
                      <h5 class="card-text card-heading">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/3 (4).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading">SARAH BURKE</h5>
                      <h5 class="card-text card-heading">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/4 (2).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading">TIFFANY BRYANT</h5>
                      <h5 class="card-text card-heading">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

            </div>

            <div class="col-md-1"></div>

            


        </div>
    </div>
</section>

<!-- our teacher ends -->






