
<!-- header-top-starts -->
<section class="header-top">
  <div class="container">
    <div class="row">

      <div class="col-md-7 header-top-left text-start">
        <p>Have any question? +968 547856 254</p>
      </div>

      <div class="col-md-5 header-top-right text-end">
        <span class="me-3"><a href="#">Log In</a></span>
        <span><a href="#">Register</a></span>
      </div>
    </div>
  </div>
</section>

<!-- header-top-ends -->

<!-- navbar starts -->

<section class="navbar-section">

  <div class="container">
    <div class="row">
      <div class="col-md-2 nav-1">
        <img src="../assets/images/logo.webp" alt="">
      </div>

      <div class="col-md-4"></div>
  
      <div class="col-md-6 nav-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav nav-anchor">
                <a class="nav-link active mx-3" aria-current="page" routerLink="home">Home</a>
                <a class="nav-link mx-3" routerLink="aboutus">About Us</a>
                <a class="nav-link mx-3" routerLink="student">students</a>
                <a class="nav-link mx-3" routerLink="details">Details</a>
                <a class="nav-link mx-3" routerLink="update">Update</a>
                <a class="nav-link" routerLink="staff">Staff</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      </div>
    </div>
</section>

<router-outlet></router-outlet>


<!-- footer-section starts -->

<section class="footer-section">

  <footer class="footer">

    <div class="container">

      <div class="row ">

        <div class="col-md-3">
          <img src="../assets/images/footer.webp" class="mb-3 mt-2" alt="">
          <p class="text-white mb-4">There are many variations of passg of Lorem Ipsum available, but thmajority have suffered altem,</p>

          <div class="footer-icons">
            <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fa fa-rss ms-4"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-google-plus-g ms-4"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-pinterest ms-4"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-instagram ms-4"></i></a>
            
          </div>

        </div>

        <div class="col-md-3 ps-4">

          <h4 class="text-white mb-4"><b>GET IN TOUCH</b></h4>

          <div class="f-content-1">

            <div class="mb-2">
              <i class="fa-solid fa-phone"></i>
              <span class="text-white ms-3">+88 018 785 4589</span>
            </div>

            <div class="mb-2">
              <i class="fa-solid fa-envelope"></i>
              <span class="text-white ms-3">devitems@email.com</span>
            </div>

            <div class="mb-2">
              <i class="fa-solid fa-earth-asia"></i>
              <span class="text-white ms-3">www.devitems.com</span>
            </div>

            <div class="mb-2">
              <i class="fa-solid fa-location-dot"></i>
              <span class="text-white ms-3">ur address goes here,street.</span>
            </div>

          </div>

          
        </div>

        <div class="col-md-3">

          <h4 class="text-white mb-4"><b>USEFUL LINKS</b></h4>
          
          <div class="f-content-2">

            <div class="mb-2"><a href="">Teachers & Staff</a></div>
            <div class="mb-2"> <a href="">Our Courses</a></div>
            <div class="mb-2"><a href="">Courses Categories</a></div>
            <div class="mb-2"><a href="">Support</a></div>
            <div class="mb-2"><a href="">Terms & Conditions</a></div>
            <div><a href="">Privacy Policy</a></div>

          </div>
        </div>

        <div class="col-md-3">

          <h4 class="text-white mb-4"><b>INSTAGRAM</b></h4>
          <div class="f-content-3">

            <a href="#" target="_blank"><img src="../assets/images/1 (4).webp" alt=""></a>
            <a href="#" target="_blank"><img src="../assets/images/2 (4).webp" alt=""></a>
            <a href="#" target="_blank"><img src="../assets/images/3 (3).webp" alt=""></a>
            <a href="#" target="_blank"><img src="../assets/images/4 (1).webp" alt=""></a>
            <a href="#" target="_blank"><img src="../assets/images/5 (1).webp" alt=""></a>
            <a href="#" target="_blank"><img src="../assets/images/6 (1).webp" alt=""></a>

          </div>

        </div>
      </div>
    </div>
  </footer>
</section>

<section class="f-content-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="float-start text-white mt-4 mb-4">© 2022 Study.</p>
        <p class="float-end text-white mt-4 mb-4">Privacy Policy , Terms & Conditions</p>
      </div>
    </div>
  </div>
</section>

<!-- footer-section ends -->



