
.updateform{
    background-color: rgb(19, 19, 110);
}

.btn-1{
    background-color: gold;
    border: 1px solid black;
    font-weight: 500;
    font-size: 16px;
}

.btn-1:hover{
    background-color: rgb(151, 241, 17);
    color: black;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    transition: 0.5s ease;
}