
<!-- our staff starts -->

<section class="teachers-section mb-5 pb-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5 py-5">
                <h2 class="text-center">OUR TEACHERS</h2>
                <p class="text-center">There are many variations of passages</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-10 cards-content">

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/1 (5).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading-1">JULIE JIMENEZ</h5>
                      <h5 class="card-text card-heading-2">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/2 (5).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading-1">RONALD WILSON</h5>
                      <h5 class="card-text card-heading-2">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/3 (4).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading-1">SARAH BURKE</h5>
                      <h5 class="card-text card-heading-2">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

                <div class="card border border-0 cards" style="width: 18rem;">
                    <img src="../../assets/images/4 (2).webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text card-heading-1">TIFFANY BRYANT</h5>
                      <h5 class="card-text card-heading-2">Teacher</h5>

                      <div class="icons mt-3 mb-3">
                          <a href="#"><i class="fa-brands fa-facebook-f icons-1"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in icons-1 ms-2"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram icons-1 ms-2"></i></a>
                      </div>
                    </div>
                </div>

            </div>

            <div class="col-md-1"></div>
            

            


        </div>
    </div>
</section>

<!-- our staff ends -->